body
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

header
{

    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
}

header
{
    background-color: rgb(105, 111, 165);    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header img
{
    width: 150px;
}

li
{
    font-weight: bold;
    border: 2px solid rgba(233,79,117,255);
    display: inline-block;  
    margin: 20px;
    border-radius: 6px;
}

a:hover
{
    font-weight: bold;
    color: rgba(233,79,117,255);
    transition: .3s all;
}

li > a 
{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

a{
    color: rgba(244,135,92,255);
}

main 
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#textmain
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0px;
}

h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(205,141,74,255);
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    line-height: 20px;
    max-width: 500px;
    color: rgb(105, 111, 165);
    font-size: 18px;
    font-weight: 500;
}

article > img
{
    width: 700px;
}






